In [2]:
import upload_dowload_from_Minio

Buckets:
  donnees-insee
  odione

In [3]:
import pandas as pd
local_path="/home/onyxia/work/titanic_classification/Application_repo/configuration/test_data.cvs"
remote_path="Boston_House_price/Boston-house-price-data.csv"
upload_dowload_from_Minio.dowlnload_from_s3(remote_path,local_path)
df=pd.read_csv(local_path)
df.head(3)

Download successful.

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7

In [5]:
remote_path2="Boston_House_price/test_data.cvs"
upload_dowload_from_Minio.updload_towards_s3(remote_path2,local_path)

Upload successful.